<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatplatform.mapper.PrivateMsgMapper">


    <insert id="saveMessage" useGeneratedKeys="true" keyProperty="id">
        insert into private_msg
        (sender_id,receiver_id,content,type,send_time,status)
        values
        (#{senderId},#{receiverID},#{content},#{type},#{sendTime},#{status})
    </insert>

</mapper>
